* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
}

body {
    background-color: #1f2e35d9;
}

.main_logo {
    display: flex;

}

.img_logo {
    width: 50px;
}

.logo_img {
    color: rgb(255, 255, 255);
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 30px;
-webkit-filter: drop-shadow(5px 5px 5px #222222);
    filter: drop-shadow(5px 5px 5px #222222);
}

.logo_name {
    margin-top: 10px;
    padding-left: 5px;
}

.home {
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
}

.ul {
    display: flex;
    column-gap: 40px;
    padding: 20px 20px;
    -webkit-filter: drop-shadow(5px 5px 5px #222222);
        filter: drop-shadow(5px 5px 5px #222222);
}

.li a {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    transition: 0.3s;

}


li a:hover {
    text-shadow: 3px 3px 20px #FFFFFF,
        -2px 1px 30px #FFFFFF;
}

.button_1 {
    padding-top: 15px;
}

.button_2 {
    width: 150px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    box-shadow: 0px 4px 10px #05080a;
}

.button_2:hover {
    background-color: #0088cc;
    box-shadow: 0px 5px 17px #05080a;
    color: #fff;
    transform: translateY(-5px);
}

.block_2 {
    width: 100%;
    height: 820px;
    background-image: url(./images/img_Tanks.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.block__2 {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.img_12 {
    width: 150px;
    border-radius: 50%;
    transition: 0.3s;
    box-shadow: 0px 5px 17px #05080a;
}

.text_blitz {
    font-size: 40px;
    color: #a19d94;
    font-family: 'Roboto', sans-serif;
}

.wot_blitz_2 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.wot_blitz_button {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.wot_button {
    width: 220px;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #ffffff;
    border: none;
    background-color: brown;
    border-radius: 45px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    box-shadow: 0px 10px 17px #05080a;
}

.wot_button:hover {
    box-shadow: 0px 10px 17px #05080a;
    color: #fff;
    transform: translateY(-5px);
}

.blitz_img {
    width: 450px;
}
.blitz_24{
    padding-top: 50px;
    display: flex;
    justify-content: center;
}
.block__img_23 {
        width: 550px;
        height: 400px;
        background-image: url(./images/12.png);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        -webkit-filter: drop-shadow(5px 5px 5px #222222);
            filter: drop-shadow(5px 5px 5px #222222);
        }
                

@media(max-width:990px) {
    .ul {
        column-gap: 15px;
    }

    .home {
        padding: 20px 40px;
    }
}

.block_23 {
    display: flex;
    justify-content: center;
}

.block_23 {
    display: none;
}

@media(max-width:769px) {
    .block_23 {
        display: flex;
    }

    .block_1 {
        display: none;
    }

    .blitz_img {
        width: 400px;
        padding-top: 50px;
    }

    .block_img_blitz {
        width: 100%;
        height: 820px;
        background-image: url(./images/img_112.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .block_2 {
        background-image: none;
    }
}

@media(max-width:550px) {
    .block_img_blitz {
        background-image: none;
    }

    .block_img_blitz_1 {
        width: 100%;
        height: 820px;
        background-image: url(https://wallpaperaccess.com/full/3763531.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .block__img_23 {
        display: none;
    }

    .button_2 {
        width: 120px;
        height: 40px;
        font-size: 11px;
    }
}

@media(max-width:447px) {
    .logo_img {
        text-align: center;
        font-size: 25px;
    }

    .button_2 {
        width: 100px;
        height: 35px;
        font-size: 9px;
        border-radius: 20px;
    }
}

.block_img1 {
    display: block;
    padding: 50px 50px;

}

.block_img_Tanks {
    display: flex;
    justify-content: center;
}

.block_img2 {
    display: flex;
    justify-content: center;
}

.img_tanks1 {
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #05080a;
}

.tanks_1 {
    max-width: 800px;
    border-radius: 10px;
    box-shadow: 0px 5px 15px #05080a;
}

@media(max-width:990px) {
    .tanks_1 {
        max-width: 700px;
    }

    .img_tanks1 {
        max-width: 700px;
    }
}

@media(max-width:770px) {
    .tanks_1 {
        max-width: 500px;
    }

    .img_tanks1 {
        max-width: 500px;
    }
}

@media(max-width:550px) {
    .tanks_1 {
        max-width: 400px;
    }

    .img_tanks1 {
        max-width: 400px;
    }
}

@media(max-width:447px) {
    .tanks_1 {
        max-width: 300px;
    }

    .img_tanks1 {
        max-width: 300px;
    }
}

@media(max-width:340px) {
    .tanks_1 {
        max-width: 250px;
    }

    .img_tanks1 {
        max-width: 250px;
    }
}